<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Github Issues" %></h1>
  <label>Please provide a github repo you'd like to see issues for</label>
  <br>
  <%= form_for @conn.params, Routes.github_path(@conn, :search), fn f -> %>
    <%= label f, "Organization Name" %>
    <%= text_input f, :org_name %>
    <%= label f, "Repository Name" %>
    <%= text_input f, :repo_name %>
    <%= submit "Search" %>
  <% end %>
</section>
